<h1>Editing Laboratory Examination</h1>

<%= render 'form', laboratory_examination: @laboratory_examination %>

<%= link_to 'Show', @laboratory_examination %> |
<%= link_to 'Back', laboratory_examinations_path %>
