<h1>Editing Survey Monkey Customer</h1>

<%= render 'form', survey_monkey_customer: @survey_monkey_customer %>

<%= link_to 'Show', @survey_monkey_customer %> |
<%= link_to 'Back', survey_monkey_customers_path %>
